#memory-container {
  padding: 1rem;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.memory-table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.memory-table th,
.memory-table td {
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  font-family: monospace;
  font-size: 15px;
  color: #0077ff;
}

.memory-cell {
  background-color: #123547;
}

.memory-cell.used {
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #3a9fd1;
}

